[Unit]
Description=Chordio gamepad chord launcher
Documentation=https://github.com/lmrisdal/chordio
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/chordio --config /etc/chordio/config.json
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
